.aw_dashboard_heading h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 29px;
    line-height: 35px;
    color: #343a40;
    font-weight: 500;
    margin-bottom: 0px;
}
.breadcrumb-item .active  , .breadcrumb-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 29px;
    color:#6c757d;
    font-weight: 400;
}
.breadcrumb-item a{
    text-decoration: none;
}
.breadcrumb{
    justify-content: end;
}
@media only  screen and (max-width:550px) {
    .breadcrumb{
        justify-content: flex-start !important;
    }
}